# Dependencies
/vendor
/node_modules
composer.lock

# Testing & Cache
.phpunit.result.cache
.phpunit.cache
/.phpunit.cache/
/tests/_output
/tests/_support/_generated
/build

# IDE & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp

# Laravel/Package specific
.env
.env.backup
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*.log
/storage/*.log
/storage/*.key
/public/storage
/resources/dist/.vite
